body {
    margin: 0;
}

.login {
    display: flex;
    height: 100vh;
    background-color: #ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
.login-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-left-logo {
    width: 350px; 
    height: auto;
    transition: width 0.5s ease; 
}

@media (max-width: 600px) {
    .signup {
        flex-direction: row; 
    }

    .signup-left {
        flex: 0; 
    }

    .signup-left-logo {
        width: 100px;
    }

    .signup-right {
        flex: 1;
    }
}

  
.login-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
  
.login-right-title {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 10px;
}
  
.login-right-subtitle {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}
  
.form-input {
    width: 300px; 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    width: 320px; 
    padding: 12px;
    background-color: #1da1f2; 
    color: white;
    border: none;
    border-radius: 20px; 
    cursor: pointer;
}
  
  .login-button:hover {
    background-color: #0d8ecf;
  }
  
  .login-right-swap {
    color: #657786; 
  }
  
  .signup-link {
    color: #1da1f2;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-link:hover {
    text-decoration: underline;
  }

  .footer {
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}